---
import Card from "./Card.astro";
interface Props {
  title: string;
  players: Player[];
}

//TODO: Move this into a type file and have a base player type and extend it for the different positions
interface Player {
  href: string;
  firstName: string;
  lastName: string;
  position: string;
  number: number;
  team: string;
  clubLogo: string;
  image: string;
  age: number;
  foot: string;
  careerStats: {
    apps: number;
    goals?: number;
    assists?: number;
    cleanSheets?: number;
    goalsConceded?: number;
  };
  tournamentStats: {
    gamesPlayed: number;
    asSubstitute: number;
    goals?: number;
    assists?: number;
    averageRating?: number | null;
    goalsConceded?: number;
    saves?: number;
    cards?: {
      yellow: number;
      red: number;
    };
    passes?: {
      total: number;
      key: number;
      accuracy: number;
    };
    dribbles?: {
      attempts: number;
      success: number;
    };
    duels?: {
      total: number;
      won: number;
    };
    shots?: {
      total: number;
      on: number;
    };
    fouls?: {
      drawn: number;
      committed: number;
    };
    tackles?: {
      total: number;
      blocks: number;
      interceptions: number;
    };
    minutesPlayed: number;
  };
}

const { title, players } = Astro.props;
---

<div class="mb-8 mt-24 relative">
  <h2 class="text-5xl text-neutral-200/50 absolute -top-9">{title}</h2>
  <ul
    role="list"
    class="link-card-grid grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8"
  >
    {players.map((player) => <Card {...player} key={player.href} />)}
  </ul>
</div>
